# See https://help.github.com/ignore-files/ for more about ignoring files.
# IDE
.idea

# dependencies
/node_modules

package-lock.json
forCreateMailing.json
.eslintrc.json

# image with text on cookieTemplate
/bot/assets/result
